<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Cursos - AcademiaSaber', '/styles/courses/deleted_course.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main>
    <div class="wrapper">
        <div class="container">
            <p>Course has been deleted.</p>
        </div>
        <div class="button">
            <a href="/">Back</a>
        </div>
    </div>
</main>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>
