<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Cursos Matriculados - AcademiaSaber', '/styles/courses/my_courses.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main>
    <section id="cards">
        <div class="content">
            <h2>Cursos en los que estás matriculado</h2>
            <div class="content-cards">
                <div class="card" th:each="course : ${enrolledCourses}">
                    <img class="card-image" th:if="${course.imageFile != null}" th:src="@{/course/{id}/image(id=${course.id})}" th:alt="${course.title}" alt="Course Image">
                    <a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.title}">Título del curso</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Si no hay cursos -->
    <div th:if="${#lists.isEmpty(enrolledCourses)}" style="text-align: center;">
        <p>No estás matriculado en ningún curso.</p>
    </div>

    <!-- Botón para volver -->
    <div class="button" style="text-align: center; margin-top: 20px;">
        <a href="/courses">Volver a la lista de cursos</a>
    </div>
</main>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>
