<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Cursos para la Asignatura - AcademiaSaber', '/styles/show_courses_for_subject.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main>
    <h1>Cursos para la Asignatura: <span th:text="${subject.title}"></span></h1>

    <ul>
        <li th:each="course : ${subject.associatedCourses}" th:text="${course.title}"></li>
    </ul>

    <a href="/">Volver a la página principal</a>
</main>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>
