<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Sobre nosotros - AcademiaSaber', '/styles/aboutUS.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main>
    <section class="about-us">
        <p>
            We are a group of alumni who want to help newer students in the cybersecurity engineering program.
            We all know that it is a difficult grade, but also we know that, if you study and have a good preparation
            for your exams, you won't have any problem to pass it.
            We are:<br>
        <div class="centered-list">
            <ul>
                <li>Erika Illarionov</li>
                <li>Adrián Inarejos</li>
                <li>Miguel Iglesias</li>
            </ul>
        </div>
        </p>
    </section>
</main>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>
