<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Sobre nosotros - AcademiaSaber', '/styles/about_us.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main>
    <section class="about-us">
        <p>
            Somos un grupo de alumnos que queremos ayudar a los estudiantes más nuevos en el programa de ingeniería en ciberseguridad.
            Todos sabemos que es una asignatura difícil, pero también sabemos que, si estudias y tienes una buena preparación
            para tus exámenes, no tendrás ningún problema para aprobarla.
            Somos:<br>
        <div class="centered-list">
            <ul>
                <li>Erika Illarionov</li>
                <li>Adrián Inarejos</li>
                <li>Miguel Iglesias</li>
            </ul>
        </div>
        </p>
    </section>
</main>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>
