<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comentarios</title>
    <link rel="stylesheet" href="/comments.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="logo">
        <img src="./imagesStatic/Blue_Minimalist_Academy_Logo-removebg-preview.png" alt="AJAcademic Logo">
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">INICIO</a></li>
            <li><a href="/courses">CURSOS</a></li>
            <li><a href="/aboutUS">SOBRE NOSOTROS</a></li>
            <li><a href="/comments">RESEÑAS</a></li>
        </ul>
    </nav>
    <a href="/enrolled_courses" class="btn"><button>MIS CURSOS</button></a>
</header>
<h2>Comentarios de Usuarios</h2>
<h3>Deja tu comentario</h3>
<div class="wrapper">
    <div id="comments-section">
        {{#comments}}
        <div class="comment">
            <p><strong>{{username}}</strong>: {{comment}}</p>
        </div>
        {{/comments}}
    </div>
</div>
<form accept-charset="UTF-8" action="/comments/add" method="post">
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" value="Equipo de investigación" readonly required><br>

    <label for="comment">Comentario:</label>
    <textarea id="comment" name="comment" required></textarea><br>

    <button type="submit">Enviar comentario</button>
</form>
<div id="courses-list">
    <a href="/courses">Volver a la lista de cursos</a>
</div>
</body>
</html>