<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Contacto - AcademiaSaber', '/styles/contact.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main>
    <section class="contact-info">
        <h2>Puedes contactarnos en:</h2>
        <p><strong>Correo:</strong> academia@tusitio.com</p>
        <p><strong>Teléfono:</strong> +34 622 456 789</p>
        <p><strong>Dirección:</strong> Calle Sabiduria 45, Madrid, España</p>
    </section>
</main>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>
