<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cursos</title>
  <link rel="stylesheet" href="/courses.css">
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
  <nav>
    <ul class="nav-links">
      <li><a th:href="@{/}">INICIO</a></li>
      <li><a th:href="@{/subjects}">ASIGNATURAS</a></li>
      <li><a th:href="@{/aboutUS}">SOBRE NOSOTROS</a></li>
      <li><a th:href="@{/contact}">CONTACTO</a></li>
    </ul>
  </nav>
  <a th:href="@{/enrolled_courses}" class="btn"><button>MIS CURSOS</button></a>
</header>

<!-- Mensaje de bienvenida opcional -->
<div th:if="${welcome}">
  <h1>Welcome!</h1>
</div>

<section id="curso-content">
  <h2>Nuestros Cursos</h2>
  <p>Explora nuestra variedad de cursos para aprender diferentes asignaturas.</p>
</section>

<section id="cards">
  <div class="content">
    <div class="content-cards">
      <div class="card" th:each="course : ${courses}">
        <a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.title}">Título del curso</a>
        <p><u>Asignatura:</u> <span th:text="${course.subject}">Nombre asignatura</span></p>
      </div>
    </div>
  </div>
</section>

<!-- Si no hay cursos -->
<div th:if="${#lists.isEmpty(courses)}">
  <p style="text-align: center;">No subjects yet.</p>
</div>

<div class="contenedor-botones">
  <button class="botones" onclick="window.location.href='/courses/new'">AGREGAR CURSO</button>
</div>
</body>
</html>
