<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    <link rel="stylesheet" href="/css/editCourse.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <form accept-charset="UTF-8" action="/subject/{{id}}/edited_subject" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{subject.title}}" required><br>

        <label for="text">Text:</label>
        <textarea id="text" name="text" required>{{subject.text}}</textarea><br>

        <label for="image">Change Image:</label>
        <input type="file" id="image" name="image"><br>


        <input type="submit" value="Save">
        <a href="/subject/{{id}}">Cancel</a>
    </form>
</div>
</body>
</html>
