<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    <link rel="stylesheet" href="/editCourse.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <form accept-charset="UTF-8" action="/course/{{id}}/edited_course" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{course.title}}" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{course.description}}</textarea><br>

        <input type="submit" value="Save">
        <a href="/course/{{id}}">Cancel</a>
    </form>
</div>
</body>
</html>
