<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/edited_subject.css">
    <title>Editar Asignatura</title>
</head>
<body>
<h1>Editar Asignatura</h1>
<form action="#" method="POST" th:action="@{/subject/{id}/edit(id=${subject.id})}">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" th:value="${subject.title}" required><br><br>

    <label for="text">Descripción:</label>
    <textarea id="text" name="text" required th:text="${subject.text}"></textarea><br><br>

    <button type="submit">Guardar Cambios</button>
</form>
<a href="/subjects">Volver a Asignaturas</a>
</body>
</html>
