<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <link rel="stylesheet" href="/edited_courses.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <p>Subject Edited Successfully.</p>
    <p>Details of the edited subject:</p>
    <div class="container">
        <p><u>Title</u><br>{{subject.title}}</p>
        <br>
        <p><u>Description</u><br>{{subject.text}}</p>
    </div>
    <div class="button">
        <a href="/subjects">Back to Subjects</a>
    </div>
</div>
</body>
</html>