<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir Asignatura</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="content">
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/static">INICIO</a></li>
                    <li><a href="aboutUS.html">SOBRE NOSOTROS</a></li>
                    <li><a href="contact.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="titular">
        <h1>AÑADIR UNA NUEVA ASIGNATURA</h1>
    </div>
    <br>
</header>

<section>
    <div class="content">
        <form th:action="@{/subjects}" th:object="${subject}" method="post">
            <label for="title">Título:</label>
            <input type="text" id="title" th:field="*{title}" required>

            <label for="text">Descripción:</label>
            <textarea id="text" th:field="*{text}" required></textarea>

            <button type="submit">Guardar Asignatura</button>
        </form>
    </div>
</section>

</body>
</html>
