<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Inicio - AcademiaSaber', '/styles/index.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main>
    <section class="content-cards">
        <div th:each="course : ${featuredCourses}">
            <div class="card">
                <img class="card-image" th:src="@{/course/{id}/image(id=${course.id})}" th:alt="${course.title}">
                <h3 th:text="${course.title}">Course Title</h3>
                <a th:href="@{'/course/' + ${course.id}}"><u>Ver más información</u></a>
            </div>
        </div>
    </section>
</main>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>
