<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${course.title}">Detalles del Curso</title>
</head>
<body>
<h1 th:text="${course.title}"></h1>
<p th:text="${course.description}"></p>
<p><strong>Asignatura:</strong> <span th:text="${course.subject.title}"></span></p>

<!-- Mostrar la imagen del curso -->

<a th:href="@{/course/{id}/edit(id=${course.id})}">Editar</a> |
<a th:href="@{/course/{id}/delete(id=${course.id})}">Eliminar</a> |
<form th:action="@{/course/{id}/enroll(id=${course.id})}" method="post">
    <button type="submit">Inscribirse</button>
</form>


<h2>Comentarios</h2>
<ul>
    <li th:each="comment : ${course.comments}">
        <p th:text="${comment.text}"></p>
        <form th:action="@{/course/{courseId}/comments/{commentId}/delete(courseId=${course.id}, commentId=${comment.id})}" method="post">
            <button type="submit">Eliminar comentario</button>
        </form>
    </li>
</ul>

<h3>Añadir comentario</h3>
<form th:action="@{/course/{id}/comments/new(id=${course.id})}" method="post">
    <textarea name="text" rows="3" cols="40" required></textarea><br/>
    <button type="submit">Enviar comentario</button>
</form>

<br/>
<a href="/courses">Volver a cursos</a>
</body>
</html>
