<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Asignaturas - AcademiaSaber', '/styles/subjects.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main>
    <section id="subject-content">
        <h2>Nuestras Asignaturas</h2>
        <p>Explora nuestra variedad de asignaturas disponibles.</p>
    </section>

    <section id="cards">
        <div class="content">
            <div class="content-cards" id="subjects-list">
                <th:block th:each="subject : ${subjects}">
                    <div class="card">
                        <img class="card-image" th:src="@{/subject/{id}/image(id=${subject.id})}" th:alt="${subject.title}" alt="Subject Image">
                        <a th:href="@{/subject/{id}(id=${subject.id})}" th:text="${subject.title}">Asignatura</a>
                        <p><u>Descripción:</u> <span th:text="${subject.text}">Descripción</span></p>
                    </div>
                </th:block>
            </div>
        </div>
    </section>

    <div th:if="${#lists.isEmpty(subjects)}">
        <p style="text-align: center;">No hay asignaturas disponibles aún.</p>
    </div>

    <div class="pagination">
        <button th:if="${currentPage > 0}" id="prev-page">Anterior</button>
        <span> Página <span id="currentPage" th:text="${currentPage + 1}">1</span> de <span id="totalPages" th:text="${totalPages}">1</span> </span>
        <button th:if="${currentPage < totalPages - 1}" id="next-page">Siguiente</button>
    </div>

    <div class="pageSizes">
        <button id="pageSize10">10</button>
        <button id="pageSize20">20</button>
        <button id="pageSize50">50</button>
        <button id="pageSize100">100</button>
    </div>

    <div class="elementsShown">
        <span id="elementsShown" th:text="'Mostrando ' + ${subjects.size()} + ' asignaturas'">0</span>
    </div>
    <div class="contenedor-botones">
        <button class="botones" onclick="window.location.href='/subjects/new'">AGREGAR ASIGNATURA</button>
    </div>
</main>
<div th:replace="layout/layout :: footer"></div>
</body>
<script th:src="@{/scripts/paginacion.js}"></script>
</html>
