<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asignaturas</title>
    <link rel="stylesheet" href="/subjects2.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <nav>
        <ul class="nav-links">
            <li><a href="/">INICIO</a></li>
            <li><a href="/courses">CURSOS</a></li>
            <li><a href="/aboutUS">SOBRE NOSOTROS</a></li>
            <li><a href="/contact">CONTACTO</a></li>
        </ul>
    </nav>
    <a href="/enrolled_subject" class="btn"><button>MIS ASIGNATURAS</button></a>
</header>

<section id="subject-content">
    <h2>Nuestras Asignaturas</h2>
    <p>Explora nuestra variedad de asignaturas disponibles.</p>
</section>

<section id="cards">
    <div class="content">
        <div class="content-cards">
            <th:block th:each="subject : ${subjects}">
                <div class="card">
                    <a th:href="@{/subject/{id}(id=${subject.id})}" th:text="${subject.title}">Asignatura</a>
                    <p><u>Descripción:</u> <span th:text="${subject.text}">Descripción</span></p>
                </div>
            </th:block>
        </div>
    </div>
</section>

<div th:if="${#lists.isEmpty(subjects)}">
    <p style="text-align: center;">No hay asignaturas disponibles aún.</p>
</div>

<div class="contenedor-botones">
    <button class="botones" onclick="window.location.href='/subjects/new'">AGREGAR ASIGNATURA</button>
</div>

</body>
</html>

