<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Asignatura - AcademiaSaber', '/styles/subjects/show_subject.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main>
    <div class="container">
        <p><u>Asignatura</u><br th:text="${subject.title}"></p>
        <br>
        <p><u>Descripción</u><br th:text="${subject.text}"></p>
        <div class="image">
            <img th:src="@{/subject/{id}/image(id=${subject.id})}" alt="Imagen de la asignatura">
        </div>
    </div>

    <div class="button">
        <a th:href="@{/subject/{id}/delete(id=${subject.id})}">Eliminar asignatura</a>
        <br>
        <a th:href="@{/subject/{id}/edit(id=${subject.id})}">Editar asignatura</a>
        <br>
        <a th:href="@{/subject/{id}/courses(id=${subject.id})}">Lista de cursos</a>
    </div>

    <br>
    <a href="/subjects">Volver</a>
</main>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>
