<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('Editar Comentario - AcademiaSaber', '/styles/comments/edit_comment.css', '/styles/quill/quill.snow.css')"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<main class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">Editar Comentario</h1>

          <form th:action="@{/course/{courseId}/comments/{commentId}/update(courseId=${course.id}, commentId=${comment.id})}" method="post">
            <div id="editor" class="mb-3"></div>
            <textarea id="commentBody" name="text" required th:text="${comment.text}"></textarea>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</main>
<div th:replace="layout/layout :: footer"></div>
<script th:src="@{/scripts/quill/quill.js}"></script>
<script th:src="@{/scripts/quill/initializeQuill.js}"></script>
</body>
</html>